/* ===========================
        Dashboard Style
======================================= */

















/* ===========================
        Teacher Dashboard
======================================= */

.teacher_heading{
        background-color: #A179EB;
        font-family:'Roboto', sans-serif;
}

.allStudent{
        cursor: pointer;
}






/* ===========================
        Student dashboard
======================================= */

.stu_heading{
        background-color: #FB73B5;
        font-family:'Roboto', sans-serif;
}










/* ===========================
        SuperAdmin dashboard
======================================= */

.addCourse h1{
background-color: #A179EB;
color: white;
font-family: "Roboto", sans-serif;
}