.register_wrapper{
    
}

.col_left{
    background-color: #AA80F9;
    padding: 10vh 0vh;
}

.col_right{
    background-color: #FB73B5;
    padding: 10vh 0vh;
}

.sign_up_teacher{
    padding: 12px 50px;
    color: #9667ec;
    font-family: 'Poppins';
 font-weight: bold;
 cursor: pointer;
}
.sign_up_student{
    padding: 12px 50px;
    color: #d6498d;
    font-family: 'Poppins';
    font-weight: bold;
    cursor: pointer;
}

/*===========================
      Teacher register page
=========================== */

.teacher_wrapper,.student_wrapper{
    background-color: #D4F7E5;
    height: 100vh;
    padding-top: 10vh;
}

.teacher_container_bg{
  background-color: #9667ec;
}
.student_container_bg{
  background-color: #FB73B5;
}

.input_box_id{
    width: 25%;
    margin-right: 30px;
    display: block;
}
.input_box_name{
    width: 45%;
    margin-right: 30px;
}
.input_box_email{
    width: 45%;
    
}

.teacher_submit_btn {
  background-color: #6258dc;
  color: white;
  font-family: "Roboto", sans-serif;
  border: none;
}
.teacher_submit_btn:hover {
  background-color: #544ac4;
}
.student_submit_btn {
  background-color: #FB73B5;
  color: white;
  font-family: "Roboto", sans-serif;
  border: none;
}
.student_submit_btn:hover {
  background-color: #d65895;
}
